body {
  background-color: #ddd;
}

main {
  width: 800px;
  height: 800px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.col-left {
  width: 250px;
}

.col-right {
  width: 550px;
}
