$cv-width: 800px
$left-width: 250px

body
    background-color: #ddd

main
    width: $cv-width
    height: 800px
    background-color: #fff
    margin-left: auto
    margin-right: auto
    display: flex
    align-content: center
    flex-wrap: nowrap
.col-left
    width: $left-width
.col-right
    width: $cv-width - $left-width