/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap");
/* SVG Icons Import */
@import url("https://css.gg/css");
body {
  background-color: #eee;
  color: #333;
}

main {
  width: 800px;
  height: 1200px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 6px 3px 23px -9px rgba(34, 60, 80, 0.2);
          box-shadow: 6px 3px 23px -9px rgba(34, 60, 80, 0.2);
  position: relative;
  padding-top: 10px;
}

main .job-title {
  margin-left: 20px;
}

main header {
  width: auto;
  font-family: Montserrat, sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 20px;
}

main header h1 {
  font-size: 32px;
  margin: 0px;
  color: #333;
  font-weight: 600;
}

main .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

main .col-left {
  width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .col-right {
  width: 550px;
}

main .about {
  text-align: left;
}

main .about-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

main .about p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-left: 20px;
}

main h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  margin: 0 0 0 10px;
  color: #2a08a3;
}

main .contacts {
  text-align: center;
}

main .contacts .contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0 0 20px;
}

main .contacts p {
  margin: 0 0 0 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

main .contacts a {
  margin: 0 0 0 5px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #333;
}

main .contacts a:visited {
  color: #888;
}

main .contacts a:hover {
  color: #0300b4;
}

main .skills {
  margin-top: 20px;
}

main .skills-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0 0 20px;
}

main .education {
  margin-top: 0px;
}

main .education-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 20px;
}

main .education h2 {
  margin-left: 20px;
}

main .education .edu-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Open Sans, sanf-serif;
  margin-bottom: 20px;
}

main .education .edu-columns-left {
  width: 30%;
  margin-left: 20px;
  font-weight: 600;
}

main .education .edu-columns-left p {
  margin: 0;
}

main .education .edu-columns-left h2 {
  margin: 0;
}

main .education .edu-columns-left .uni {
  margin-bottom: 10px;
}

main .education .edu-columns-right {
  width: 70%;
  margin-right: 20px;
}

main .education .edu-columns-right p {
  margin: 0;
}

main .code-example {
  margin-left: 0px;
}

main .code-example-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}

main .code-example-head h2 {
  margin-left: 15px;
}

main .code-example pre {
  font-family: Consolas, monospace;
  letter-spacing: -1px;
}

main .code-text {
  margin-left: 20px;
}

main .code-text p {
  font-family: Open Sans, sans-serif;
}

main a {
  font-decoration: none;
  font-family: Open Sans, sans-serif;
  color: #333;
}

main a:visited {
  color: #888;
}

main a:hover {
  color: #0300b4;
}

.break {
  border: 0.5px solid #333;
  margin: 5px 20px;
}

footer {
  background-color: #ddd;
  position: absolute;
  bottom: 0px;
  padding: 0px;
  height: 40px;
  width: 100%;
}
