/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap");
/* SVG Icons Import */
@import url("https://css.gg/css");
body {
  background-color: #eee;
  color: #333;
  font-size: 15px;
}

main {
  max-width: 850px;
  height: auto;
  padding-bottom: 50px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 6px 3px 23px -9px rgba(34, 60, 80, 0.2);
          box-shadow: 6px 3px 23px -9px rgba(34, 60, 80, 0.2);
  position: relative;
  padding-top: 10px;
}

main .job-title {
  margin-left: 20px;
}

main header {
  width: auto;
  height: 180px;
  font-family: Montserrat, sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header .profile-pic {
  width: 180px;
  hegith: 180px;
  border-radius: 500px;
  background-image: url(/img/);
  background-repeat: no-repeat;
  background-size: cover;
}

main header h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3rem;
  margin: 0px;
  color: #333;
  font-weight: 600;
}

main .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

main .col-left {
  max-width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .col-right {
  max-width: 600px;
}

main .about {
  text-align: left;
}

main .about-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

main .about .about-text {
  font-family: "Open Sans", sans-serif;
  margin-left: 20px;
}

main h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  margin: 0 0 0 10px;
  color: #2a08a3;
}

main .contacts {
  text-align: center;
}

main .contacts .contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0 0 20px;
}

main .contacts p {
  margin: 0 0 0 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

main .contacts a {
  margin: 0 0 0 10px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

main .contacts a:visited {
  color: #888;
}

main .contacts a:hover {
  color: #0300b4;
}

main .skills {
  margin-top: 20px;
}

main .skills .progress p {
  margin: 5px 0 0 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

main .skills .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .skills .progress-bar-html {
  height: 10px;
  width: 75%;
  background-color: #0300b4;
  margin: 0 0 0 20px;
}

main .skills .progress-bar-html-none {
  height: 10px;
  background-color: #999;
  width: 25%;
  margin: 0 20px 0 0;
}

main .skills .progress-bar-css {
  height: 10px;
  width: 60%;
  background-color: #0300b4;
  margin: 0 0 0 20px;
}

main .skills .progress-bar-css-none {
  height: 10px;
  background-color: #999;
  width: 40%;
  margin: 0 20px 0 0;
}

main .skills .progress-bar-bs {
  height: 10px;
  width: 30%;
  background-color: #0300b4;
  margin: 0 0 0 20px;
}

main .skills .progress-bar-bs-none {
  height: 10px;
  background-color: #999;
  width: 70%;
  margin: 0 20px 0 0;
}

main .skills .progress-bar-git {
  height: 10px;
  width: 50%;
  background-color: #0300b4;
  margin: 0 0 0 20px;
}

main .skills .progress-bar-git-none {
  height: 10px;
  background-color: #999;
  width: 50%;
  margin: 0 20px 0 0;
}

main .skills .progress-bar-js {
  height: 10px;
  width: 40%;
  background-color: #0300b4;
  margin: 0 0 0 20px;
}

main .skills .progress-bar-js-none {
  height: 10px;
  background-color: #999;
  width: 60%;
  margin: 0 20px 0 0;
}

main .skills .progress-bar-ps {
  height: 10px;
  width: 80%;
  background-color: #0300b4;
  margin: 0 0 0 20px;
}

main .skills .progress-bar-ps-none {
  height: 10px;
  background-color: #999;
  width: 20%;
  margin: 0 20px 25px 0;
}

main .skills-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0 0 20px;
}

main .education {
  margin-top: 0px;
}

main .education-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 20px;
}

main .education h2 {
  margin-left: 20px;
}

main .education .edu-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Open Sans, sanf-serif;
  margin-bottom: 20px;
}

main .education .edu-columns-left {
  width: 30%;
  margin-left: 20px;
  font-weight: 600;
}

main .education .edu-columns-left p {
  margin: 0;
}

main .education .edu-columns-left h2 {
  margin: 0;
}

main .education .edu-columns-left .uni {
  margin-bottom: 10px;
}

main .education .edu-columns-right {
  width: 70%;
  margin-right: 20px;
}

main .education .edu-columns-right p {
  margin: 0;
}

main .code-example {
  margin-left: 0px;
}

main .code-example-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}

main .code-example-head h2 {
  margin-left: 15px;
}

main .code-example pre {
  font-family: Consolas, monospace;
  letter-spacing: -1px;
}

main .code-text {
  margin-left: 20px;
}

main .code-text p {
  font-family: Open Sans, sans-serif;
}

main a {
  font-decoration: none;
  font-family: Open Sans, sans-serif;
  color: #333;
}

main a:visited {
  color: #888;
}

main a:hover {
  color: #0300b4;
}

main .key-skills li {
  font-family: "Open Sans", sans-serif;
  list-style: none;
}

main .key-skills li::before {
  content: '';
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6f/Ic_chevron_right_48px.svg);
  margin-left: -25px;
}

main .languages {
  font-family: "Open Sans", sans-serif;
}

main .languages p {
  margin: 5px 0 0 20px;
}

main .languages-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

main .languages-head h2 {
  margin-left: 20px;
}

main .languages-head p {
  margin: 0;
}

main .work-experience-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

main .work-experience p {
  font-family: "Open Sans", sans-serif;
  margin-left: 20px;
}

main .courses p {
  margin: 10px 0 0 20px;
  font-family: "Open Sans", sans-serif;
}

main .courses-head {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .course-lin {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin: 20px 0 0 20px;
}

main .course-lin:visited {
  color: #888;
}

main .course-lin:hover {
  color: #0300b4;
}

.break {
  border: 1px solid #aaa;
  margin: 5px 20px;
}

footer {
  background-color: #feea68;
  position: absolute;
  bottom: 0px;
  padding: 0px;
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .github-icon {
  margin-left: 30px;
}

footer .rs-icon {
  margin-right: 30px;
}

footer p {
  font-family: "Open Sans", sans-serif;
  margin-left: 30px;
}

@media all and (max-width: 870px) {
  main {
    width: 600px;
    height: auto;
    padding-bottom: 20px;
  }
  .col {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .col-left {
    min-width: 550px;
  }
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 2rem;
  }
  header {
    height: 100px;
  }
  .profile-pic {
    height: 140px;
  }
  .contacts a {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 600px) {
  main {
    width: 420px;
    height: auto;
  }
  .col-left {
    min-width: 380px;
  }
  .profile-pic {
    height: 0;
    widht: 0;
    -webkit-transition: 0s;
    transition: 0s;
  }
  h1 {
    font-size: 1rem;
    text-align: center;
  }
  .edu-columns-left h2 {
    font-size: 0.9rem;
  }
  .edu-columns-left p {
    font-size: 1rem;
  }
}
