/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');
/* SVG Icons Import */
@import url('https://css.gg/css');

$cv-width: 800px
$left-width: 250px
$text-color: #333;
$padding-size: 20px
$regular-font: 'Open Sans', sans-serif
body
    background-color: #eee
    color: $text-color


main
    width: $cv-width
    height: 1200px
    background-color: #fff
    margin-left: auto
    margin-right: auto
    align-content: center
    box-shadow: 6px 3px 23px -9px rgba(34, 60, 80, 0.2);
    position: relative
    padding-top: 10px
    .job-title
        margin-left: 20px
    header
        width: auto
        font-family: Montserrat, sans-serif
        letter-spacing: 10px
        text-transform: uppercase
        margin: 20px
        h1
            font-size: 32px
            margin: 0px
            color: $text-color
            font-weight: 600
    .col
        display: flex
        margin: 20px
        &-left
            width: $left-width
            flex-direction: column
        &-right
            width: $cv-width - $left-width
    .about
        text-align: left
        &-head
            display: flex
            margin-left: $padding-size
        p
            font-family: $regular-font
            font-size: 13px
            margin-left: $padding-size
    h2
        font-size: 16px
        text-transform: uppercase
        font-family: Montserrat, sans-serif
        font-weight: 500
        margin: 0 0 0 10px
        color: #2a08a3
    .contacts
        text-align: center
        .contact-link
            display: flex
            margin: 8px 0 0 20px
        p
            margin: 0 0 0 5px
            font-family: $regular-font
            font-size: 13px
        a
            margin: 0 0 0 5px
            text-decoration: none
            font-family: $regular-font
            font-size: 13px
            color: $text-color
            &:visited
                color: #888
            &:hover
                color: #0300b4
    .skills
        margin-top: 20px
        &-head
            display: flex
            margin: 8px 0 0 20px
    .education
        margin-top: 0px
        &-head
            display: flex
            margin: 0px 0 0 20px
        h2
            margin-left: 20px
.break
    border: 0.5px solid $text-color
    margin: 5px 20px

footer
    background-color: #ddd
    position: absolute
    bottom: 0px
    padding: 0px
    height: 40px
    width: 100%