@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Josefin+Sans:wght@400;500;600&display=swap");
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fcfcf4;
  margin: 0;
  position: relative;
}

body header {
  width: 56%;
  height: auto;
  margin: 10% auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .header-item-1 {
  width: 30%;
  height: 100%;
}

body header .header-item-2 {
  width: 70%;
  height: 100%;
}

body header .header-item-2 h1 {
  font-weight: 600;
  margin: 0 0 5%;
}

body header .header-item-2 h2 {
  font-weight: 500;
  margin: 0 0 5%;
}

body header .header-item-2 p {
  margin: 0 0 2%;
  line-height: 25px;
}

body header img {
  height: 30px;
}

body main {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .basics {
  width: 80%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
}

body main .basics-item-1 {
  width: 30%;
}

body main .basics-item-2 {
  width: 70%;
}

body main .basics-item-2 ul {
  padding: 0;
}

body main .basics-item-2 ul li {
  list-style: none;
  height: 26px;
}

body main .basics-item-2 ul li a {
  text-decoration: none;
  color: black;
}

body main .basics-item-2 ul li a:hover {
  color: #DEBA9D;
}

body main .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 80%;
  border-bottom: 1px solid black;
}

body main .info-item-1 {
  width: 30%;
  height: 100%;
  font-weight: 600;
  font-size: 26px;
}

body main .info-item-1 h2 {
  font-size: 26px;
  font-weight: 500;
}

body main .info-item-2 {
  width: 70%;
  height: 100%;
}

body main .info-item-2 ul {
  padding: 0;
  margin: 0;
}

body main .info-item-2 ul li {
  list-style: none;
  height: auto;
  margin: 10px 0;
}

body main .languages {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
}

body main .languages-item-1 {
  width: 30%;
}

body main .languages-item-2 {
  width: 70%;
  height: 100%;
}

body main .languages-item-2 ul {
  padding: 0;
  margin: 0;
}

body main .languages-item-2 ul li {
  height: 50%;
  margin: 20px 0;
  list-style: none;
  line-height: 20px;
}

body main .education {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
}

body main .education-item-1 {
  width: 30%;
}

body main .education-item-2 {
  width: 70%;
}

body main .education-item-2 ul {
  padding: 0;
  margin: 0;
}

body main .education-item-2 ul li {
  list-style: none;
  margin: 20px 0;
}

body main .education-item-2 ul li .year {
  color: #999;
}

body main .project-wrap {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

body main .project-wrap-item-1 {
  width: 30%;
}

body main .project-wrap-item-2 {
  width: 70%;
}

body main .project-wrap-item-2 ul {
  padding: 0;
}

body main .project-wrap-item-2 ul li {
  list-style: none;
}

body main .project-wrap-item-2 ul li a {
  color: black;
}

body main .project-wrap-item-2 ul li a:hover {
  color: #DEBA9D;
}

body main .project-wrap-item-2 ul li p {
  line-height: 25px;
}

body main .project-wrap-item-2 ul li .techs {
  color: #999;
  font-size: 16px;
}

body main .snippet {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

body main .snippet img {
  height: 370px;
}

body footer {
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body footer img {
  height: 20px;
  width: 20px;
  margin-left: 15px;
}

.proj1 {
  background-image: url("./assets/project-1.png");
  background-size: cover;
  background-position: center center;
}

.proj2 {
  background-image: url("./assets/project-2.png");
  background-size: cover;
  background-position: center center;
}

.proj3 {
  background-image: url("./assets/project-3.png");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 1080px) {
  body header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body header .header-item-1 {
    width: 100%;
    margin-bottom: 50px;
  }
  body header .header-item-2 {
    width: 100%;
  }
  body main .basics {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  body main .basics-item-1 {
    width: 100%;
  }
  body main .basics-item-2 {
    width: 100%;
  }
  body main .education {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  body main .education-item-1 {
    width: 100%;
  }
  body main .education-item-2 {
    width: 100%;
  }
  body main .education-item-2 p {
    line-height: 30px;
  }
  body main .languages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  body main .languages-item-1 {
    width: 100%;
  }
  body main .languages-item-2 {
    width: 100%;
  }
  body main .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  body main .info-item-1 {
    width: 100%;
    height: auto;
  }
  body main .info-item-2 {
    width: 100%;
  }
  body main .project-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
  }
  body main .project-wrap-item-1 {
    width: 100%;
  }
  body main .project-wrap-item-2 {
    width: 100%;
    height: auto;
  }
  body footer {
    width: 12%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    bottom: 150px;
    left: 0px;
  }
  body footer a img {
    height: 30px;
    width: 30px;
  }
}
